body { 
	background-image: url("duck_hunt.png");
    overflow:hidden;

}


#score {
	position: absolute; 
	bottom: 20px; 
	right: 20px; 
	font-size: 20px;
}


#ammo {
	position: absolute; 
	bottom: 20px; 
	left: 20px; 
	font-size: 20px;
}

img 
{ 
    width: 100px; 
    position: absolute; 
    bottom: 0;
    animation-fill-mode: forwards;
}

@keyframes bird1 { 
	10% {left: 20%; bottom: 30%}
	30% {left: 30%; bottom: 50%} 
	50% {left: 40%; bottom: 70%} 
	70% {left: 60%; bottom: 30%} 
	100% {left: 100%; bottom: 100%}
}

@keyframes bird2 { 
	10% {left: 10%; bottom: 40%}
	/*30% {left: 50%; bottom: 30%} 
	50% {left: 90%; bottom: 60%} 
	80% {left: 80%; bottom: 10%} */
	100% {left: 100%; bottom: 80%}
}
#b1 { 
    left: 0; 
    animation-name: bird1; 
    animation-duration: 6s; 
}
#b2 { 
    left: 0; 
    animation-name: bird2; 
    animation-duration: 1s; 
}

