body { 
    margin: 0;
    padding: 0;
    overflow:hidden;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url("bg-lake.png");
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('/target.png') 34 34, auto;
}

.game {
    width: 100%;
    height: calc(100vh - (4rem + 30px));
	background-image: url("img/duck_hunt.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('img/target.png') 34 34, auto;

  }
  
  #play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(180deg, rgba(139, 192, 74, 1) 0%, rgba(67, 153, 70, 1) 100%);
    border: 5px inset rgb(2, 133, 11);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 3rem;
    padding: 10px 20px;
    cursor: pointer;
  }

  #play:active {
    background:linear-gradient(180deg, rgba(67, 153, 70, 1) 0%, rgb(49, 112, 51) 100%);
    border-color: rgb(2, 101, 8);
  }

  #reset {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background:linear-gradient(180deg, rgba(255, 214, 135, 1) 0%, rgba(203, 145, 69, 1) 100%);
    border: 3px inset #A06C20;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
  }

  #reset:active {
    background:linear-gradient(180deg, rgba(203, 145, 69, 1) 0%, rgb(164, 117, 56) 100%);
    border-color: #7c5417;
  }
  
  .hud {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
  }
  
  .score-box, .time-box, .ammo-box {
    height: 3rem;
    padding: 5px 10px;
    background-color: rgb(232, 176, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 5px 15px;
    border: 5px inset rgb(151, 99, 3);
  }


#ammo {
	position: absolute; 
	bottom: 20px; 
	right: 20px; 
	font-size: 20px;
}


