body { 
    margin: 0;
    padding: 0;
    overflow:hidden;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url("bg-lake.png");
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('/target.png') 34 34, auto;
}

.game {
    width: 100%;
    height: calc(100vh - (3rem + 40px));
    
    
  }
  
  button.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(180deg, rgba(139, 192, 74, 1) 0%, rgba(67, 153, 70, 1) 100%);
    border: 5px inset rgb(2, 133, 11);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 3rem;
    padding: 10px 20px;
    cursor: pointer;
  }

  button.play:active {
    background:linear-gradient(180deg, rgba(67, 153, 70, 1) 0%, rgb(49, 112, 51) 100%);
    border-color: rgb(2, 101, 8);
  }
  
  .hud {
    padding: 10px 25px;
    /* background-color:  */
    display: flex;
    justify-content: space-between;
  }
  
  .score-box, .time-box, .ammo-box {
    height: 3rem;
    padding: 5px 10px;
    background-color: rgb(232, 176, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 5px 15px;
    border: 5px inset rgb(151, 99, 3);
  }


#ammo {
	position: absolute; 
	bottom: 20px; 
	right: 20px; 
	font-size: 20px;
}


img 
{ 
    width: 100px; 
    position: absolute; 
    bottom: 0;
    animation-fill-mode: forwards;
}

@keyframes bird1 { 
	10% {left: 20%; bottom: 30%}
	30% {left: 30%; bottom: 50%} 
	50% {left: 40%; bottom: 70%} 
	70% {left: 60%; bottom: 30%} 
	100% {left: 100%; bottom: 100%}
}

@keyframes bird2 { 
	10% {left: 10%; bottom: 40%}
	/*30% {left: 50%; bottom: 30%} 
	50% {left: 90%; bottom: 60%} 
	80% {left: 80%; bottom: 10%} */
	100% {left: 100%; bottom: 80%}
}
#b1 { 
    left: 0; 
    animation-name: bird1; 
    animation-duration: 6s; 
}
#b2 { 
    left: 0; 
    animation-name: bird2; 
    animation-duration: 1s; 
}

